{% extends 'base.html' %}

{% block content %}
    <h3>Lista</h3>
    <a href="{% url 'ankieta_create' %}">
        <button type="button" class="btn btn-info btn-sm">Dodaj</button>
    </a>
    <button type="button" id="refresh-button" class="btn btn-warning btn-sm">Refresh</button>
    <div class="row">
        {% if object_list %}
            <div class="col-8">
                <table
                        data-toggle="table"
                        data-data-field="ankieta_list"
                        data-response-handler="responseHandler"
                        data-url="data.json" id="table">
                    <thead>
                    <tr>
                        <th data-field="wiek">Wiek</th>
                        <th data-field="wzrost">Wzrost</th>
                        <th data-field="plec">Płeć</th>
                        <th data-field="kolor">Kolor</th>
                        <th data-field="view" data-formatter="viewFormatter">View</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="col-8">
                <div class="alert alert-info" role="alert">
                    Jeszcze nikt nie dodał ankiety, ale możesz być pierwszy.
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#refresh-button').click(function () {
                $('#table').bootstrapTable('refresh');
            });
        });

        function responseHandler(res) {
            console.log(res);
            return res['ankieta_list'];
        }

        function viewFormatter(value, row) {
            return '<a href="/detail/' + value + '"><button type="button" class="btn btn-primary btn-sm">Detail</button></a>'
        }
    </script>
{% endblock %}
